@model OnlineShop.Areas.Admin.Models.ProductVM

@{
    ViewBag.Title = "Product Details";
    Layout = "_Customer_Layout";
}

<h2>Product Details</h2>
<div class="col-lg-4 mt-2">
    <img class="img-thumbnail" src="@Model.Image"/>
    <h4>Name: @Model.Name</h4>
    <p>Description: @Model.Description</p>
    <p>Price: $@Model.Price</p>
    <p>Category: @Model.Category.Name</p>
    <p>Category description: @Model.Category.Description</p>
    
    <!--Link is empty because order functionality is not implemented-->
    <p>@Html.ActionLink("Order", "", "", null, new {@class="btn btn-warning"})</p>
</div>
