@using OnlineShop.Areas.Admin.Models
@model dynamic

@{
    ViewBag.Title = "Products";
    Layout = "_Customer_Layout";
}

<h2>Products</h2>

<!--Form for searching products by name-->
@using (Html.BeginForm("Products","Product"))
{
    <div class="input-group">
        <input class="form-control" name="name"/>
        <div class="input-group-append">
            <button type="submit" class="btn btn-warning">Search</button>
        </div>
    </div>
}

<!--Form for searching products by category-->
@using (Html.BeginForm())
    {
        <div>  
            <h2>Select Category</h2>
            @foreach (CategoryVM category in Model.Categories)
            {
                <!--Variable is used for dynamic call of controller's method when user clicks on category-->
                var url = Url.Action("ProductsByCategories", "Product", new {categoryId = category.Id}, null);
                @Html.CheckBox(category.Id + "", category.IsChecked,new {onclick = "window.location = '" + url + "'"});
                <label for="@category.Id" + category.Id>@category.Name</label>

            }
        </div>
    }

<!--Div to display product not found message-->
@if (TempData["MNF"] != null)
{
    <div class="alert alert-danger">
        @TempData["MNF"]
    </div>
}

<!--Div to display all products from db-->
<div class="row mt-5 mb-2">
    @foreach (var product in Model.Products)
    {
        <div class="col-lg-4">
            <img class="img-thumbnail" src="@product.Image"/>
            <h2>@product.Name</h2>
            <p>@product.Description</p>
            <p>Price: $@product.Price</p>
            <p>@Html.ActionLink("Details", "ProductDetails", "Product", new { id = product.Id}, new {@class="btn btn-warning"})</p>
        </div>
    }
</div>